*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans",sans-serif;
  text-decoration: none;
}

body{
  background-color: #30336b;
  /* 视口被均分为100单位的vh */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.pricing-table{
  display: flex;
  width: min(1600px, 100%);
  margin: auto;
}

.pricing-card{
  /* 响应式布局 忽略内容 可以解决传统布局垂直居中的问题 */
  flex: 1;
  /* 设置每一块的最大宽度 */
  max-width: 360px;
  background-color: #fff;
  margin: 20px 10px;
  text-align: center;
  /* 鼠标移入变成手指 */
  cursor: pointer;
  overflow: hidden;
  color: #2d2d2d;
  transition: .3s linear;
}

.pricing-card-header{
  background-color: #0fbcf9;
  /* 行内块元素  */
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 20px 20px;
  font-size: 16px;
  /* 文字全部大写 */
  text-transform: uppercase;
  font-weight: 600;
  transition: .4s linear;
}

.pricing-card:hover .pricing-card-header{
  box-shadow: 0 0 0 26em #0fbcf9;
}

.price{
  font-size: 80px;
  color: #0fbcf9;
  margin: 40px 0;
}

.price sup, .price span{
  font-size: 22px;
  font-weight: 700;
}

.pricing-card:hover ,.pricing-card:hover .price{
  color: #fff;
}

.pricing-card li{
  font-size: 16px;
  padding: 10px 0;
  text-transform: uppercase;
}

.order-btn{
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 80px;
  border: 2px solid #0fbcf9;
  color: #0fbcf9;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .5s linear;
}

.order-btn:hover{
  background-color: #0fbcf9;
  color: #fff;
}
